@import '~taro-ui/dist/style/variables/default.scss';
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
/* search-bar 中
要将
@include hairline-bottom();
注释掉
*/
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/button.scss";
/*
此文档注释懒得写了，回头闲了没事再写吧。
每个item的名字再jsx文件中都有使用，at开头的则是复写的
taroUI的css文件。
*/
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import '~taro-ui/dist/style/components/loading.scss';

.load {
    .at-loading__ring{
        border-width: 2PX;
    }
}

.at-search-bar{
    background-color: rgba(255, 255, 255, 0);
    border-inline: 0px none;
    padding: $spacing-v-sm 50px;
}

.at-search-bar__input-cnt{
    opacity: 0.7;
}

.at-tabs__item{
    background-color: #FCF4EB;
    width: 13.5%;
    word-break:keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 30px;
    padding: 10px $spacing-h-lg;
    font-weight: 520;
}

.at-tabs__item--active{
    color: #FCA62F;
    font-weight:bold;
}

.at-tabs__item-underline{
    left: 35%;
    bottom: 8%;
    width: 30%;
    height: 5%;
    background-color: #FCA62F;
    border-radius: 5px;
}

.at-tabs__header{
    height: 100rpx;
}

.store-pic-position-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.store-name-position-info{
    height:100px;
    width: 400rpx;
    font-size: 36rpx;
    font-weight:bold;
    display:flex;
    align-items:flex-end;
    margin-left: 20rpx;
}

.store-auth-position-info{
    height:50px;
    margin-left: 20rpx;
    display:flex;
    align-items:center;
}

.store-auth-info{
    width:4.5vw;
    height:4.5vw;
}

.store-pic-info{
    width:24vw;
    height:24vw;
}

.store-clock-position-info{
    height:40px;
    width: 90%;
    margin-left: 20rpx;
    font-size: 24px;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.store-clock-pic-info{
    width:4vw;
    height:4vw;
}

.store-address-position-info{
    height:100px;
    margin-left: 20rpx;
    padding-top: 1%;
    font-size: 24px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}

.store-address-pic-info{
    width:4vw;
    height:4vw;
}

.store-info-page{
    background-image: url(../../img/background.jpg);
    background-size: 100%;
}

.store-info-background-img{
    height:320px;
    background-image: url(../../img/storeinfobk.svg);
    background-position:50% 100%;
    background-repeat:no-repeat;
    background-size: 90%;
}

.queue-tab-info{
    display:flex;
    height: 230px;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 20px;
    background-image: url(../../img/queueinfobk.png);
    background-size: 100%;
    box-shadow: 0px 8px 8px #979797;
}

.play-pic-info{
    width:18.5vw;
    height:26vw;
    border-radius: 10%;
}

.play-pic-position-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.play-pic-label-info{
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 11%;
    left: 65%;
    box-sizing: content-box;
    border: 0px none #000;
    background-color: #32323277;
    padding: 1% 4%;
    border-radius: 15%;
}

.play-intro-info{
    margin-left: 5%;
}

.play-name-position-info{
    height: 60px;
    width: 360rpx;
    font-size: 36px;
    font-weight:bold;
    display:flex;
    align-items:flex-end;
}

.play-time-position-info{
    height: 55px;
    font-size: 24px;
    font-weight:bold;
    display:flex;
    align-items:flex-end;
}

.play-headcount-position-info{
    height: 45px;
}

.play-headcount-info{
    font-size: 24px;
    font-weight:bold;
    display:flex;
    align-items:flex-end;
}

.play-male-position-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    color: #1296DB;
    background-color: #78aef94f;
    margin-top: 5.5%;
    padding: 0% 2%;
    border-radius: 10px;
}

.play-female-position-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    color: #E99BBF;
    background-color: #E89CC04f;
    margin-top: 5.5%;
    padding: 0% 2%;
    border-radius: 10px;
}

.gender-icon-info{
    width:3vw;
    height:3vw;
}

.play-antigender-position-info{
    height: 55px;
    display:flex;
    align-items:flex-end;
}

.play-antigender-info{
    width: auto;
    font-size: 20px;
    color: #046BFA;
    font-weight:bold;
    border: 3.5px solid #046BFA; 
    border-radius: 20px;
    padding: 0 10rpx;
}

.play-label-info{
    font-size: 20px;
    color: #FCA62F;
    font-weight:bold;
    border: 3.5px solid #FCA62F; 
    border-radius: 20px;
    padding: 0 10rpx;
    margin-left: 3%;
}

.join-button {
    align-items: center;
    height: 55%;
    width: 85%;
    top: 30%;
    font-size: 24px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.create-button{
    align-items: center;
    height: 65%;
    width: 30%;
    font-size: 24px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #ffffff00;
        color: #000;
        border: 1PX solid #000;
    }
}

.tab-bar-info{
    &.at-tab-bar{
        height:180rpx;
        justify-content: center;
        align-items: center;
    }
    .at-tab-bar__inner-img{
        height: 50rpx;
        width: 50rpx;
    }

    .at-tab-bar__item--active{
        color:#FCA62F;
    }
}

.mainPageSearch{
    width:650rpx;
    .at-search-bar__action{
        color:#00000000;
        background-color:#00000000;
    }
}

.bg-red{
    background-color:red;
}
.bg-blue{
    background-color:blue;
}
.bg-green{
    background-color:green;
}
.tab-blank{
    height:10rpx;
}