


.queue-info-page{
    background-size: 100%;
    filter: blur(20px);
}

.bgImage>image{
    height:100%;
    width:100%;
  }

.bg-red{
    background-color:red;
}
.bg-blue{
    background-color:blue;
}
.bg-green{
    background-color:green;
}